@using Microsoft.Extensions.DependencyInjection
@using Ozds.Business.Queries
@using Ozds.Business.Models.Composite
@using Ozds.Client.Components.Base

@namespace Ozds.Client.Components.Print

@inherits OzdsOwningComponentBase

<div class="page">
  <div class="page-header">
    <img src="/invoice-print-header-hrv.svg"/>
  </div>
  <div class="page-content">
    <NetworkUserInvoicePrintContent Model="@Model.Invoice"/>
  </div>
  <div class="page-footer">
    <img src="/invoice-print-footer-hrv.svg"/>
  </div>
</div>

@foreach (var calculation in Model.Calculations)
{
  <div class="page-break"/>
  <div class="page">
    <div class="page-header">
      <img src="/invoice-print-header-hrv.svg"/>
    </div>
    <div class="page-content">
      <NetworkUserCalculationPrintContent Model="@calculation"/>
    </div>
    <div class="page-footer">
      <img src="/invoice-print-footer-hrv.svg"/>
    </div>
  </div>
}

@if (Model.Calculations.Count > 0)
{
  <div class="page-break"/>
  <div class="page">
    <div class="page-header">
      <img src="/invoice-print-header-hrv.svg"/>
    </div>
    <div class="page-content">
      <NetworkUserCalculationPrintAbbreviations/>
    </div>
    <div class="page-footer">
      <img src="/invoice-print-footer-hrv.svg"/>
    </div>
  </div>
}

<div class="page-break"/>
<div class="page">
  <div class="page-header">
    <img src="/invoice-print-header-hrv.svg"/>
  </div>
  <div class="page-content">
    <NetworkUserCalculationPrintFooter/>
    <NetworkUserInvoicePrintFooter Model="@Model.Invoice"/>
  </div>
  <div class="page-footer">
    <img src="/invoice-print-footer-hrv.svg"/>
  </div>
</div>

@code {
  [Parameter]
  public CalculatedNetworkUserInvoiceModel Model { get; set; } = default!;
}
