@using Microsoft.Extensions.DependencyInjection
@using Ozds.Business.Models.Base

@namespace Ozds.Client.Components.Print

<div class="page">
  <div class="page-header">
    <img src="/invoice-print-header-hrv.svg"/>
  </div>
  <div class="page-content">
    <NetworkUserCalculationPrintContent Model="@Model"/>
    <NetworkUserCalculationPrintAbbreviations/>
  </div>
  <div class="page-footer">
    <img src="/invoice-print-footer-hrv.svg"/>
  </div>
</div"Id is required">
<div class="page-break"/>
<div class="page">
  <div class="page-header">
    <img src="/invoice-print-header-hrv.svg"/>
  </div>
  <div class="page-content">
    <NetworkUserCalculationPrintFooter/>
  </div>
  <div class="page-footer">
    <img src="/invoice-print-footer-hrv.svg"/>
  </div>
</div>

@code {
  [Parameter]
  public NetworkUserCalculationModel Model { get; set; } = default!;
}
