[*.cs]
# Prefer 'static readonly' fields over constant array arguments if
# the called method is called repeatedly and is not mutating the passed array
dotnet_diagnostic.CA1861.severity = None

# Avoid unnecessary zero-length array allocations.
# Use Array.Empty<int>() instead.
dotnet_diagnostic.CA1825.severity = None

# Use an immutable collection or reduce the accessibility of
# the public static field.
dotnet_diagnostic.S2386.severity = None
