verbose = true
ldap_host = "0.0.0.0"
ldap_port = 3890
jwt_secret = "ozds"
ldap_base_dn = "{{LLDAP_BASE_DN}}"
# NOTE: here it says user_dn but it's actually just the user name
ldap_user_dn = "{{LLDAP_USER}}"
ldap_user_pass = "{{LLDAP_PASSWORD}}"
database_url = "sqlite:///data/users.db?mode=rwc"
key_file = ""
key_seed = "ozds"
