@namespace Ozds.Client
@using Ozds.Client.Components.LayoutMock
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<HeadContent>
  <title>OZDS</title>
</HeadContent>

<Router @rendermode="InteractiveServer" AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <CascadingValue Value="LogoutTokenState">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)">
        <Authorizing>
          <Authorizing/>
        </Authorizing>
        <NotAuthorized>
          @if (context.User.Identity?.IsAuthenticated is false)
          {
            <RedirectToLogin/>
          }
          else
          {
            <NotAuthorized/>
          }
        </NotAuthorized>
      </AuthorizeRouteView>
    </CascadingValue>
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(Layout)">
      <NotFound/>
    </LayoutView>
  </NotFound>
</Router>

@code {

  [Parameter]
  public string LogoutToken { get; set; } = default!;

  private LogoutTokenState LogoutTokenState = default!;

  protected override void OnParametersSet()
  {
    LogoutTokenState = new LogoutTokenState(LogoutToken);
  }

}
