@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/administration/locations"

@attribute [Navigation(
  Order = 1,
  Title = "Locations",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(AdministrationPage),
  Allows = [
    RoleModel.OperatorRepresentative,
    RoleModel.LocationRepresentative
  ])]

@inherits OzdsOwningComponentBase

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative
    or RoleModel.LocationRepresentative)
{
  <NotFound />
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Locations")</title>
</HeadContent>

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudCheckBox
    Label="@Translate("Deleted")"
    @bind-Checked="_deleted" />
}

<Paging PageAsync="OnPageAsync">
  <Summary>
    <LocationSummary Model="@context" />
  </Summary>
</Paging>
