@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Analysis
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Tables
@using Ozds.Client.Components.Models
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/administration/network-users"

@attribute [Navigation(
  Order = 2,
  Title = "Network users",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(AdministrationPage))]

<HeadContent>
  <title>OZDS - @Translate("Network users")</title>
</HeadContent>

@{
  var analyses = RepresentativeState.AnalysisBases.AnalysesByNetworkUser();
}

<ResponsiveTable Model="@analyses">
  <Summary>
    <NetworkUserAnalysisSummary Model="@context" />
  </Summary>
  <Details>
    <NetworkUserAnalysisDetails Model="@context" />
  </Details>
  <Columns>
    <NetworkUserAnalysisColumns />
  </Columns>
</ResponsiveTable>

@code {
  [CascadingParameter]
  public RepresentativeState RepresentativeState { get; set; } = default!;
}
