@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.DependencyInjection
@using MudBlazor
@using Ozds.Business.Queries
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Business.Models.Enums
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models

@namespace Ozds.Client.Pages

@page "/administration/users"

@attribute [Navigation(
  Order = -1000,
  Title = "Users",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(AdministrationPage),
  Allows = [RoleModel.OperatorRepresentative])]

@inherits OzdsOwningComponentBase

<HeadContent>
  <title>OZDS - @Translate("Users")</title>
</HeadContent>

<Paging PageAsync="@((page) => ScopedServices
  .GetRequiredService<RepresentativeQueries>()
  .MaybeRepresentingUsers(page, CancellationToken.None))">
  <Summary>
    <MaybeRepresentingUserSummary Model="@context" />
  </Summary>
</Paging>
