@namespace Ozds.Client.Components.Layout
@using MudBlazor
@using Ozds.Client.State

<div class="d-flex flex-row">
  <MudText Typo="Typo.body1" Style="margin-left: auto">
    © 2024 HELB
  </MudText>
</div>
