@namespace Ozds.Client.Components.LayoutMock
@using Ozds.Business.Models.Composite
@using Ozds.Client.Components.Streaming
@using Ozds.Client.State
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@inherits Ozds.Client.Base.OzdsLayoutComponentBase



<HeadContent>
  <title>HELB</title>

  <style>
    html, body {
      height: 100vh;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 1;
    }

    footer {
      min-height: 120px;
      margin-top: 32px;
    }
  </style>
</HeadContent>



<CascadingValue Value="ThemeState">
    <MudThemeProvider
      @ref="@(_mudThemeProvider)"
      Theme="ThemeState.Theme"
      IsDarkMode="ThemeState.IsDarkMode" />
</CascadingValue>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <MudBreakpointProvider OnBreakpointChanged="OnBreakpointChanged">
      <Loading
        T="(UserState? UserState, RepresentativeState? RepresentativeState)"
        LoadAsync="@(LoadAsync)">
        <Found>
          <CascadingValue Value="LayoutState">
            <CascadingValue Value="@(context.UserState)">
              <CascadingValue Value="@(context.RepresentativeState)">
                <main>
                  <MudLayout Class="d-flex flex-column">
                    <UserToolbar />
                    @if (context.RepresentativeState?.Representative is { })
                    {
                      <RepresentativeToolbar />
                    }
                    <LocalizationDrawer />
                    <UserDrawer />
                    @if (context.RepresentativeState?.Representative is { })
                    {
                      <NavigationDrawer />
                    }
                    @Body
                  </MudLayout>
                </main>
                <footer>
                  <MudContainer
                    MaxWidth="MaxWidth.Large"
                    Style="height: 100%; padding-top: 12px;">
                    <Footer />
                  </MudContainer>
                </footer>
              </CascadingValue>
            </CascadingValue>
          </CascadingValue>
        </Found>
      </Loading>
    </MudBreakpointProvider>
