@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Components.Providers
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.State

@namespace Ozds.Client.Components.Layout

@inherits OzdsLayoutComponentBase

<ThemeStateProvider>
  <LayoutStateProvider>
    <CascadingFragment T="ThemeState">
      @{
        var footerBackgroundColor = context.IsDarkMode
          ? context.Theme.PaletteDark.BackgroundGrey
          : context.Theme.Palette.BackgroundGrey;
      }

      <style>
        html, body {
          height: 100vh;
        }

        body {
          display: flex;
          flex-direction: column;
        }

        main {
          flex: 1;
        }

        footer {
          min-height: 120px;
          margin-top: 32px;
        }

        footer {
          background-color: @(footerBackgroundColor);
        }
      </style>

      <header>
        <Header MaxWidth="@MaxWidth.Large" />
      </header>

      <main>
        <Main MaxWidth="@MaxWidth.Large" >
          @Body
        </Main>
      </main>

      <footer>
        <Footer MaxWidth="@MaxWidth.Large" />
      </footer>
    </CascadingFragment>
  </LayoutStateProvider>
</ThemeStateProvider>
