/current.sql
/current-orchard.sql
/Calculation4-orchard.sql
/Calculation4.sql
/Calculation5-orchard.sql
/Calculation5.sql
/Calculation6-orchard.sql
/Calculation6.sql
/Calculation7-orchard.sql
/Calculation7.sql
/Calculation8.sql
/Calculation8-orchard.sql
/CatalogueValidatorConstraints-orchard.sql
/CatalogueValidatorConstraints.sql
/Ozds.Messaging-Init-20240521152432-orchard.sql
/Ozds.Messaging-Init-20240521152432.sql
/Ozds.Data-InvoiceRegistration-20240521193546-orchard.sql
/Ozds.Data-InvoiceRegistration-20240521193546.sql
/Ozds.Data-InvoiceRegistration2-20240521194722-orchard.sql
/Ozds.Data-InvoiceRegistration2-20240521194722.sql
/Ozds.Messaging-InboxOutbox-20240521231157-orchard.sql
/Ozds.Messaging-InboxOutbox-20240521231157.sql
/Ozds.Data-BillId-20240702131512-orchard.sql
/Ozds.Data-BillId-20240702131512.sql
/Ozds.Data-MeasurementsFix-20240705224817-orchard.sql
/Ozds.Data-MeasurementsFix-20240705224817.sql
/Ozds.Messaging-BillId-20240708121528-orchard.sql
/Ozds.Messaging-BillId-20240708121528.sql
/Ozds.Data-InvoiceTestAdditions-20240711120400-orchard.sql
/Ozds.Data-InvoiceTestAdditions-20240711120400.sql
/Ozds.Data-KiloCalculations-20240711193159-orchard.sql
/Ozds.Data-KiloCalculations-20240711193159.sql
/Ozds.Data-KiloCalculations2-20240711223132-orchard.sql
/Ozds.Data-KiloCalculations2-20240711223132.sql
/Ozds.Data-Notifications-20240823122242-orchard.sql
/Ozds.Data-Notifications-20240823122242.sql
/Ozds.Data-Notifications3-20240823123704-orchard.sql
/Ozds.Data-Notifications3-20240823123704.sql
/Ozds.Data-Notifications3-20240823124014-orchard.sql
/Ozds.Data-Notifications3-20240823124014.sql
/Ozds.Jobs-Init-20240826110058-orchard.sql
/Ozds.Jobs-Init-20240826110058.sql
