/current.sql
/current-orchard.sql
/Calculation4-orchard.sql
/Calculation4.sql
/Calculation5-orchard.sql
/Calculation5.sql
/Calculation6-orchard.sql
/Calculation6.sql
/Calculation7-orchard.sql
/Calculation7.sql
/Calculation8.sql
/Calculation8-orchard.sql
/CatalogueValidatorConstraints-orchard.sql
/CatalogueValidatorConstraints.sql
/Ozds.Messaging-Init-20240521152432-orchard.sql
/Ozds.Messaging-Init-20240521152432.sql
/Ozds.Data-InvoiceRegistration-20240521193546-orchard.sql
/Ozds.Data-InvoiceRegistration-20240521193546.sql
/Ozds.Data-InvoiceRegistration2-20240521194722-orchard.sql
/Ozds.Data-InvoiceRegistration2-20240521194722.sql
/Ozds.Messaging-InboxOutbox-20240521231157-orchard.sql
/Ozds.Messaging-InboxOutbox-20240521231157.sql
