@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Composite
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Models
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@inherits OzdsComponentBase

@page "/account"

@attribute [Navigation(
  Order = 1,
  Title = "Account",
  Icon = Icons.Material.Filled.VerifiedUser,
  Allows = [
    RoleModel.OperatorRepresentative,
    RoleModel.LocationRepresentative,
    RoleModel.NetworkUserRepresentative
  ])]

<HeadContent>
  <title>OZDS - @Translate("Account")</title>
</HeadContent>

@{
  var model = new MaybeRepresentingUserModel
  {
    User = UserState.User
  };
}

<Details Model="@model"/>

@code {
  [CascadingParameter]
  public UserState UserState { get; set; } = default!;
}
