@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Analysis
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables

@namespace Ozds.Client.Pages

@page "/administration"

@attribute [Navigation(
  Order = 13,
  Title = "Administration",
  Icon = Icons.Material.Filled.VerifiedUser,
  Allows = [
    RoleModel.OperatorRepresentative,
    RoleModel.LocationRepresentative,
    RoleModel.NetworkUserRepresentative
  ])]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Administration")</title>
</HeadContent>

@{
  var networkUsers = AnalysisState.AnalysisBases.Value.AnalysesByNetworkUser();
}

<ResponsiveTable Model="networkUsers">
  <Summary>
    <Summary Model="context" />
  </Summary>
  <Details>
    <Details Model="context" />
  </Details>
  <Columns>
    <Columns Models="networkUsers" />
  </Columns>
</ResponsiveTable>

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <Paging PageAsync="OnUserPageAsync">
    <Summary>
      <Summary Model="context" />
    </Summary>
  </Paging>
}
