@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base

@namespace Ozds.Client.Pages

@page "/administration"

@attribute [Navigation(
  Order = 13,
  Title = "Administration",
  Icon = Icons.Material.Filled.VerifiedUser)]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Administration")</title>
</HeadContent>
