@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Logging
@using MudBlazor
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming

@namespace Ozds.Client.Pages

@page "/developer"

@attribute [Navigation(
  Order = 0,
  Title = "Developer",
  Icon = Icons.Material.Filled.VerifiedUser)]

@inherits OzdsComponentBase

@inject ILogger<DeveloperPage> Logger
@inject IHostEnvironment Environment

<HeadContent>
  <title>OZDS - @Translate("Developer")</title>
</HeadContent>

@if (!Environment.IsDevelopment())
{
  <RedirectToLogin />
  return;
}

<MudButton OnClick="OnThrowClick">@Translate("Throw")</MudButton>

@code
{
  private void OnThrowClick()
  {
    Logger.LogDebug("Throw clicked");
    throw new InvalidOperationException();
  }
}
