@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Logging
@using MudBlazor
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming

@namespace Ozds.Client.Pages

@page "/developer"

@attribute [Navigation(
  Order = 1000,
  Title = "Developer",
  Icon = Icons.Material.Filled.VerifiedUser,
  Developer = true,
  Allows = [
    RoleModel.OperatorRepresentative,
    RoleModel.NetworkUserRepresentative,
    RoleModel.LocationRepresentative,
  ])]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Developer")</title>
</HeadContent>

@if (!Environment.IsDevelopment())
{
  <RedirectToIndex />
  return;
}

<MudButton OnClick="OnThrowClick">@Translate("Throw")</MudButton>
