@namespace Ozds.Client.Pages

@page "/developer"

@attribute [Navigation(
Order = 1000,
Title = "Developer",
Icon = Icons.Material.Filled.VerifiedUser,
Developer = true,
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.NetworkUserRepresentative,
RoleModel.LocationRepresentative,
])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Developer")</title>
</HeadContent>

@if (!Environment.IsDevelopment())
{
  <RedirectToIndex/>
  return;
}

<MudButton OnClick="OnThrowClick">@Translate("Throw")</MudButton>

<MudButton OnClick="OnStopClick">@Translate("Stop")</MudButton>

<MudButton OnClick="OnPdfClick">@Translate("Pdf")</MudButton>
