@namespace Ozds.Client.Pages

@page "/finances"

@attribute [Navigation(
Order = 10,
Title = "Finances",
Icon = Icons.Material.Filled.VerifiedUser,
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Queries.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Finances")</title>
</HeadContent>

@{
  var invoices = AnalysisState.AnalysisBases.Value
    .SelectMany(x => x.Invoices)
    .OfType<INetworkUserInvoice>()
    .DistinctBy(x => (x.Id, x.GetType()))
    .ToList();
}

<Table Model="@invoices"/>

@code {

  [CascadingParameter]
  private AnalysisState AnalysisState { get; set; } = default!;

}
