@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base

@page "/finances"

@attribute [Navigation(
  Order = 10,
  Title = "Finances",
  Icon = Icons.Material.Filled.VerifiedUser)]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Finances")</title>
</HeadContent>
