@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base

@page "/measurements"

@attribute [Navigation(
  Order = 11,
  Title = "Measurements",
  Icon = Icons.Material.Filled.VerifiedUser)]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurements")</title>
</HeadContent>
