@namespace Ozds.Client.Pages

@page "/measurements"

@attribute [Navigation(
Order = 11,
Title = "Measurements",
Icon = Icons.Material.Filled.VerifiedUser,
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Analysis
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurements")</title>
</HeadContent>

@{
  var measurementLocations = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation();
}

<ResponsiveTable Model="measurementLocations"/>

@if (RepresentativeState.Representative.Role
  != RoleModel.OperatorRepresentative)
{
  return;
}

@{
  var meters = AnalysisState.AnalysisBases.Value.AnalysesByMeter();
}

<ResponsiveTable Model="meters"/>

<Paging PageAsync="OnMessengersPageAsync"/>
