@namespace Ozds.Client.Pages

@page "/measurements"

@attribute [Navigation(
Order = 11,
Title = "Measurements",
Icon = Icons.Material.Filled.VerifiedUser,
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]

@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Analysis
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Tables
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurements")</title>
</HeadContent>

@{
  var measurementLocations = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation();
}

<ResponsiveTable Model="measurementLocations">
  <Summary>
    <Summary Model="context"/>
  </Summary>
  <Details>
    <Details Model="context"/>
  </Details>
  <Columns>
    <Columns Models="@measurementLocations"/>
  </Columns>
</ResponsiveTable>

@if (RepresentativeState.Representative.Role
  != RoleModel.OperatorRepresentative)
{
  return;
}

@{
  var meters = AnalysisState.AnalysisBases.Value.AnalysesByMeter();
}

<ResponsiveTable Model="meters">
  <Summary>
    <Summary Model="context"/>
  </Summary>
  <Details>
    <Details Model="context"/>
  </Details>
  <Columns>
    <Columns Models="@meters"/>
  </Columns>
</ResponsiveTable>

<Paging PageAsync="OnMessengersPageAsync">
  <Summary>
    <Summary Model="@context"/>
  </Summary>
</Paging>
