@namespace Ozds.Client.Pages

@page "/system"

@attribute [Navigation(
Order = 20,
Title = "System",
Icon = Icons.Material.Filled.VerifiedUser,
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Streaming
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("System")</title>
</HeadContent>

@{
  var notifications = NotificationsState.Notifications;
}

<Table Model="@notifications"/>

@if (RepresentativeState.Representative.Role
  != RoleModel.OperatorRepresentative)
{
  return;
}

<Table T="IEvent"/>

@code {

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;

  [CascadingParameter]
  private NotificationsState NotificationsState { get; set; } = default!;

}
