@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Client.Components.Base

@namespace Ozds.Client.Components.Streaming

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS</title>
</HeadContent>

<MudText Typo="Typo.h5">
  @Translate("The resource you were looking for doesn't exist.")
</MudText>
