@namespace Ozds.Client.Components.Streaming

@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS</title>
</HeadContent>

<MudText Typo="Typo.h5">
  @Translate("The resource you were looking for doesn't exist.")
</MudText>
