@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models

@namespace Ozds.Client.Pages

@page "/finances/calculations"

@attribute [Navigation(
  Order = 1,
  Title = "Calculations",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(FinancesPage))]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Calculations")</title>
</HeadContent>

<Paging T="ICalculation">
  <Summary>
    <CalculationSummary Model="@context" />
  </Summary>
</Paging>
