@namespace Ozds.Client.Pages

@page "/finances/calculations"

@attribute [Navigation(
Order = 1,
Title = "Calculations",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(FinancesPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]

@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Calculations")</title>
</HeadContent>

<Paging T="INetworkUserCalculation">
  <Summary>
    <Summary Model="@context"/>
  </Summary>
</Paging>
