@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Fields

@namespace Ozds.Client.Pages

@page "/finances/calculations"

@attribute [Navigation(
  Order = 1,
  Title = "Calculations",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(FinancesPage),
  Allows = [
    RoleModel.OperatorRepresentative,
    RoleModel.LocationRepresentative,
    RoleModel.NetworkUserRepresentative
  ])]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Calculations")</title>
</HeadContent>

<Paging T="INetworkUserCalculation">
  <Summary>
    <Summary Model="@context" />
  </Summary>
</Paging>
