@using Microsoft.AspNetCore.Components.Web

@namespace Ozds.Document.Components

@inherits DocumentBase

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <style>
    @@font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-stretch: normal;
      font-display: swap;
      src: url(data:font/ttf;base64,@TtfBase64("roboto-300")) format('truetype');
    }
    @@font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-stretch: normal;
      font-display: swap;
      src: url(data:font/ttf;base64,@TtfBase64("roboto-400")) format('truetype');
    }
    @@font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-stretch: normal;
      font-display: swap;
      src: url(data:font/ttf;base64,@TtfBase64("roboto-500")) format('truetype');
    }
    @@font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-stretch: normal;
      font-display: swap;
      src: url(data:font/ttf;base64,@TtfBase64("roboto-700")) format('truetype');
    }
  </style>
</head>

<body>
<LayoutView Layout="@typeof(DocumentLayout)">
  <DynamicComponent Type="@Type" Parameters="@Parameters" />
</LayoutView>
</body>
</html>

@code {
  [Parameter]
  public Type? Type { get; set; } = default!;

  [Parameter]
  public Dictionary<string, object?> Parameters { get; set; } = default!;
}
