@namespace Ozds.Client.Pages

@page "/measurements/measurement-export"

@attribute [Navigation(
Order = 100,
Title = "Measurement export",
Icon = Icons.Material.Filled.VerifiedUser,
Parent = typeof(MeasurementsPage),
Allows = [
RoleModel.OperatorRepresentative,
RoleModel.LocationRepresentative,
RoleModel.NetworkUserRepresentative
])]
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Analysis
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Fields
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Records
@using Ozds.Client.State
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurement export")</title>
</HeadContent>

@{
  var analyses = AnalysisState.AnalysisBases.Value
    .AnalysesByMeasurementLocation();
}

<MeasurementExportField></MeasurementExportField>

@if (RepresentativeState.Representative.Role
  == RoleModel.OperatorRepresentative)
{
  <MudCheckBox
    Label="@Translate("Deleted")"
    @bind-Value="_deleted"/>
}

@code {

  [CascadingParameter]
  public AnalysisState AnalysisState { get; set; } = default!;

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;

  private bool _deleted;
}
