@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models

@namespace Ozds.Client.Pages

@page "/measurements/measurement-validators"

@attribute [Navigation(
  Order = 1000,
  Title = "Measurement validators",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(MeasurementsPage)
  Allows = [RoleModel.OperatorRepresentative])]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Measurement validators")</title>
</HeadContent>

<Paging T="IMeasurementValidator">
  <Summary>
    <MeasurementValidatorSummary Model="@context" />
  </Summary>
</Paging>
