@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Models.Enums
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Fields
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/measurements/messengers"

@attribute [Navigation(
  Order = 10,
  Title = "Messengers",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(MeasurementsPage),
  Allows = [RoleModel.OperatorRepresentative])]

@inherits OzdsComponentBase

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound />
  return;
}

<HeadContent>
  <title>OZDS - @Translate("Messengers")</title>
</HeadContent>

<Paging T="IMessenger">
  <Summary>
    <IdentifiableLink
      T="IMessenger"
      TPage="MessengerPage"
      Model="@context" />

    <Summary Model="@context" />
  </Summary>
</Paging>

@code {
  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;
}
