@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Ozds.Business.Models.Abstractions
@using Ozds.Client.Attributes
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Components.Models

@namespace Ozds.Client.Pages

@page "/measurements/messengers"

@attribute [Navigation(
  Order = 10,
  Title = "Messengers",
  Icon = Icons.Material.Filled.VerifiedUser,
  Parent = typeof(MeasurementsPage))]

@inherits OzdsComponentBase

<HeadContent>
  <title>OZDS - @Translate("Messengers")</title>
</HeadContent>

<Paging T="IMessenger">
  <Summary>
    <MessengerSummary Model="@context" />
  </Summary>
</Paging>
