@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.DependencyInjection
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Queries.Agnostic
@using Ozds.Client.Components.Base
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Extensions

@namespace Ozds.Client.Pages

@page "/system/event/{id}"

@inherits OzdsComponentBase

<Loading T="IEvent" Id="@Id">
  <Found>
    <HeadContent>
      <title>OZDS - @Translate("Event"): @context.Title</title>
    </HeadContent>

    <EventDetails Model="context"/>
  </Found>
  <NotFound>
    <HeadContent>
      <title>OZDS - @Translate("Event")</title>
    </HeadContent>

    <NotFound />
  </NotFound>
</Loading>

@code {
  [Parameter]
  public required string Id { get; set; }
}
