@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.DependencyInjection
@using Ozds.Business.Models.Abstractions
@using Ozds.Business.Models.Enums
@using Ozds.Business.Queries
@using Ozds.Client.Components.Models
@using Ozds.Client.Components.Models.Base
@using Ozds.Client.Components.Streaming
@using Ozds.Client.Extensions
@using Ozds.Client.State

@namespace Ozds.Client.Pages

@page "/system/event/{id}"

@inherits OzdsIdentifiableModelPageComponentBase<IEvent>

@if (RepresentativeState.Representative.Role
  is not RoleModel.OperatorRepresentative)
{
  <NotFound />
  return;
}

<Loading T="IEvent" Id="@Id">
  <Found>
    <HeadContent>
      <title>OZDS - @Translate("Event"): @context.Title</title>
    </HeadContent>

    <Details Model="context"/>
  </Found>
  <NotFound>
    <NotFound />
  </NotFound>
</Loading>

@code {
  [Parameter]
  public required string Id { get; set; }

  [CascadingParameter]
  private RepresentativeState RepresentativeState { get; set; } = default!;
}
