@namespace Ozds.Client.Pages

@layout PrintLayout

@page "/print/invoice/{id}"

@using Microsoft.AspNetCore.Components.Web
@using Ozds.Business.Models.Composite
@using Ozds.Client.Components.Layout
@using Ozds.Client.Components.Print
@using Ozds.Client.Components.Streaming
@inherits Ozds.Client.Components.Base.OzdsComponentBase

<Loading T="CalculatedNetworkUserInvoiceModel" LoadAsync="OnLoadAsync">
  <Found>
    <HeadContent>
      <title>OZDS - @Translate("Invoice print"): @context.Invoice.Title</title>
    </HeadContent>

    <NetworkUserInvoicePrint Model="@context"/>
  </Found>
  <NotFound>
    <HeadContent>
      <title>OZDS - @Translate("Invoice print")</title>
    </HeadContent>

    <NotFound/>
  </NotFound>
</Loading>
