<p>
  <u><strong>Napomena korisnicima ZDS-a</strong>:</u>
</p>
<p>Vaša pitanja, reklamacije te pisane prigovore možete dostaviti na:</p>
<blockquote>
  <p>
    Adresu:
    <strong>HELB d.o.o., Industrijska ulica 1, Božjakovina, 10370 DUGO SELO</strong>
    ili
  </p>
  <p>
    E-mail: <a href="mailto:ozds@helb.hr">ozds@helb.hr</a>;
    Telefon: <strong>385 1 2781 440</strong>
  </p>
</blockquote>
