@inherits OzdsOwningComponentBase

<Loading Load="@(async () => (Calculation ?? await ScopedServices.GetRequiredService<OzdsNetworkUserCalculationQueries>().ReadSingle<INetworkUserCalculation>(Id ?? throw new InvalidOperationException()))!)">
  <Found>
    <div class="page">
      <div class="page-header">
        <img src="/invoice-print-header-hrv.svg"/>
      </div>
      <div class="page-content">
        <NetworkUserCalculationPrintContent Calculation="@context"/>
        <NetworkUserCalculationPrintAbbreviations/>
      </div>
      <div class="page-footer">
        <img src="/invoice-print-footer-hrv.svg"/>
      </div>
    </div"Id is required">
    <div class="page-break"/>
    <div class="page">
      <div class="page-header">
        <img src="/invoice-print-header-hrv.svg"/>
      </div>
      <div class="page-content">
        <NetworkUserCalculationPrintFooter/>
      </div>
      <div class="page-footer">
        <img src="/invoice-print-footer-hrv.svg"/>
      </div>
    </div>
  </Found>
</Loading>

@code {
  [Parameter] public INetworkUserCalculation? Calculation { get; set; }

  [Parameter] public string? Id { get; set; }
}
