<p>
  <u>Značenje kratica:</u>
</p>
<p style="margin-top: 0.8rem;"><strong>JEN</strong> – prekomjerno preuzeta jalova energija</p>
<p><strong>IND</strong> – induktivna jalova energija</p>
<p><strong>KAP</strong> – kapacitivna jalova energija</p>
<p><strong>MJT</strong> – mrežarina u doba u doba jedinstvene dnevne tarife</p>
<p><strong>MNT</strong> – mrežarina u doba u doba niže dnevne tarife</p>
<p><strong>MU</strong> – naknada za mjernu uslugu</p>
<p><strong>MVT</strong> – mrežarina u doba više dnevne tarife</p>
<p><strong>O</strong> - očitano</p>
<p>
  <strong>OIEiK</strong> – naknada za obnovljive izvore energije i
  visokoučinkovitu kogeneraciju
</p>
<p><strong>OMM</strong> – obračunsko mjerno mjesto</p>
<p><strong>P</strong> - procjena</p>
<p><strong>RJT</strong> – radna energija u doba u doba jedinstvene dnevne tarife</p>
<p>
  <strong>RNT</strong> <strong>–</strong> radna energija u doba u doba niže
  dnevne tarife
</p>
<p><strong>RVT –</strong> radna energija u doba više dnevne tarife</p>
<p><strong>SVT</strong> – angažirana snaga u doba više dnevne tarife</p>
<p><strong>TRNP</strong> – trošarina za neposlovnu potrošnju</p>
<p><strong>TRP</strong> – trošarina za poslovnu potrošnju</p>
