@namespace Ozds.Client.Shared.Layout
@using Ozds.Business.Models.Composite
@using Ozds.Client.Shared.Streaming
@using Ozds.Client.State
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@inherits Ozds.Client.Base.OzdsLayoutComponentBase

<HeadContent>
  <title>HELB</title>

  <style>
    html, body {
      height: 100vh;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 1;
    }

    footer {
      min-height: 120px;
      margin-top: 32px;
    }

    footer {
      @(ThemeState.IsDarkMode
        ? $"background-color: {ThemeState.Theme.PaletteDark.GrayDefault};"
        : $"background-color: {ThemeState.Theme.Palette.GrayDefault};")
    }
  </style>
</HeadContent>

<CascadingValue Value="ThemeState">
  <CascadingValue Value="LayoutState">
    <MudThemeProvider
      @ref="_mudThemeProvider"
      Theme="ThemeState.Theme"
      IsDarkMode="ThemeState.IsDarkMode" />
    <MudPopoverProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <MudBreakpointProvider>
      <Loading
        T="NewUserState"
        LoadAsync="LoadAsync">
        <Found Context="userState">
          <CascadingValue Value="userState">
            <main>
              <MudLayout Class="d-flex flex-column">
                <UserToolbar />
                @if (userState.User.Representative is { })
                {
                  <RepresentativeToolbar />
                }

                <LocalizationDrawer />
                <UserDrawer />
                @if (userState.User.Representative is { })
                {
                  <NavigationDrawer />
                }

                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                  <MudContainer
                    MaxWidth="MaxWidth.Large"
                    Class="mt-8 relative"
                    Style="flex: 1;">
                    @Body
                  </MudContainer>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                  <MudContainer
                    MaxWidth="MaxWidth.Large"
                    Class="mt-4 relative"
                    Style="flex: 1;">
                    @Body
                  </MudContainer>
                </MudHidden>
              </MudLayout>
            </main>
            <footer style="
            @(ThemeState.IsDarkMode
              ? $"background-color: {ThemeState.Theme.PaletteDark.GrayDefault};"
              : $"background-color: {ThemeState.Theme.Palette.GrayDefault};")">
              <MudContainer
                MaxWidth="MaxWidth.Large"
                Style="height: 100%; padding-top: 12px;">
                <Footer />
              </MudContainer>
            </footer>
          </CascadingValue>
        </Found>
      </Loading>
    </MudBreakpointProvider>
  </CascadingValue>
</CascadingValue>
