@using Theme = Theme

<main>
  <MudThemeProvider Theme="_theme"/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <Loading State="_userState">
    <Found Context="user">
      <CascadingValue Value="user">
          <Loading State="_representativeState">
            <Found Context="representative">
              <CascadingValue Value="representative">
                <UserLayout>
                  <Body>
                  <RepresentativeLayout>
                    <Body>
                    @Body
                    </Body>
                  </RepresentativeLayout>
                  </Body>
                </UserLayout>
              </CascadingValue>
            </Found>
            <NotFound>
              @Body
            </NotFound>
          </Loading>
      </CascadingValue>
    </Found>
  </Loading>
</main>

<style>
  td {
    text-align: center !important;
  }
  th {
    text-align: center !important;
  }
</style>

@code {
  [CascadingParameter] private Task<AuthenticationState>? _authenticationStateTask { get; set; }

  private readonly Theme _theme = new();

  @* protected override void OnLayoutInitialized()
  {
    _theme.Theme = new HelbMudTheme();
    _theme.DrawerClipMode = DrawerClipMode.Always;
    _theme.FontFamily = "Roboto";
    _theme.DefaultBorderRadius = 3;
  } *@
}
