@using Theme = Theme

<main>
  <MudThemeProvider Theme="_theme"/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  <Loading State="_userState">
    <Found Context="user">
      <CascadingValue Value="user">
          <Loading State="_representativeState">
            <Found Context="representative">
              <CascadingValue Value="representative">
                <UserLayout>
                  <Body>
                  <RepresentativeLayout>
                    <Body>
                    @Body
                    </Body>
                  </RepresentativeLayout>
                  </Body>
                </UserLayout>
              </CascadingValue>
            </Found>
            <NotFound>
              @Body
            </NotFound>
          </Loading>
      </CascadingValue>
    </Found>
  </Loading>
</main>

@code {
  [CascadingParameter] private Task<AuthenticationState>? _authenticationStateTask { get; set; }

  private readonly Theme _theme = new();
}
